<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ユーザー登録確認</title>
</head>
<body>
            <h2>アカウント登録</h2>
                            <h3>入力内容確認</h3>
                            <form id="accountForm" th:action="@{/account/register/do}" th:object="${accountRegisterForm}" method="post">
                                <fieldset id="account_field">
                                        <label>アカウントID</label><br/>
                                        <span th:text="*{accountId}"></span>
                                    <div>
                                        <label>氏名</label><br/>
                                        <span th:text="*{name}"></span>
                                    </div>
                                    <input type="hidden" name="accountId" id="accountId" th:value="*{accountId}"/>
                                    <input type="hidden" name="name" id="name" th:value="*{name}"/>
                                    <input type="hidden" name="password" id="password" th:value="*{password}"/>
                                    <input type="hidden" name="confirmPassword" id="confirmPassword" th:value="*{confirmPassword}"/>

                                            <input type="submit" name="registerBack" value="戻る"/>
                                            <input type="submit" name="register" value="登録"/>
                                </fieldset>
                            </form>

</body>
</html>